* {
  font-family: "Muli", sans-serif;
  box-sizing: border-box;
  text-transform: uppercase;
}

body {
  color: #b6bfc8;
  text-align: center;
  background: linear-gradient(to bottom, #000000, #262626);
  background-color: black;
  border-bottom: black solid 4px;
  width: 100%;
  font-size: 16px;
  position: relative;
}

a {
  color: inherit;
  transition: color 0.5s;
}

a:hover {
  text-decoration: none;
  color: #3399ff;
}

.loader {
  height: 100vh;
  z-index: 45;
  background: black;
  animation: fade 1s linear forwards;
  animation-delay: 3.5s;
}

.loader-logo {
  padding-top: 100px;
  width: 60%;
  margin: auto;
  z-index: 50;
}
@media (min-width: 768px) {
  .loader-logo {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .loader-logo {
    width: 35%;
  }
}

.r-1 {
  stroke-dasharray: 238;
  stroke-dashoffset: 238;
  animation: lineAnimation 1s linear forwards;
}

.r-2 {
  stroke-dasharray: 238;
  stroke-dashoffset: 238;
  animation: lineAnimation 1s ease-out forwards;
  animation-delay: 1s;
}

.letters,
.mounts {
  opacity: 0;
  animation: logoOpac 1.5s linear forwards;
  animation-delay: 1.7s;
}

@keyframes lineAnimation {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes logoOpac {
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
@keyframes fade {
  100% {
    opacity: 0;
  }
}
.header {
  background-color: black;
  width: 100%;
  z-index: 25;
}

.navbar {
  width: 90%;
  min-height: 70px;
  font-size: 1.2rem;
  margin: auto;
  background-color: black;
}

.navbar-nav {
  text-align: right;
}

.navbar-dark .navbar-nav .nav-link {
  transition: color 0.5s;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #3399ff;
}

button:focus {
  outline: 3px auto #3399ff;
}

.name {
  font-size: 1.5rem;
}

#titlefirst {
  font-weight: 900;
  color: white;
}

#titlelast {
  font-weight: 350;
  color: #b6bfc8;
}

img {
  width: 100%;
}

#reel {
  margin-top: 70px;
}
@media (min-width: 768px) {
  #reel {
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  #reel {
    margin-top: -30px;
  }
}

#main-content,
#work {
  padding: 0;
}

.words {
  width: 98%;
  margin: auto;
  font-size: 0.6rem;
}
@media (min-width: 768px) {
  .words {
    font-size: 1rem;
  }
}

.org {
  display: none;
  letter-spacing: 0.2em;
  font-weight: 100;
  font-size: 0.7rem;
}
@media (min-width: 768px) {
  .org {
    display: block;
  }
}

.sport,
.type {
  display: block;
}
@media (min-width: 768px) {
  .sport,
.type {
    display: inline;
  }
}

.sport {
  letter-spacing: 0.2em;
  font-weight: 900;
}

.type,
.role {
  letter-spacing: 0.1em;
}

@media (min-width: 768px) {
  .role {
    margin-top: 15px;
  }
}

.about {
  background-color: black;
  width: 95%;
  font-size: 0.8rem;
  border-radius: 5px;
}
@media (min-width: 992px) {
  .about {
    background: linear-gradient(90deg, transparent 0, black 30%), left center no-repeat url("../img/jordansetsmall.jpg");
    max-width: 1450px;
    padding-left: 23%;
  }
}

#about-text {
  line-height: 21px;
  width: 80%;
}

#gear {
  font-size: 0.8rem;
  line-height: 21px;
  border: 2px solid black;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  #gear {
    width: 60%;
  }
}

.social {
  margin: auto;
}
.social a {
  margin: 25px;
}
.social a path,
.social a circle {
  transition: fill 0.5s;
}
.social a:hover path,
.social a:hover circle {
  fill: #3399ff;
}

.social-link {
  height: 45px;
}

/*# sourceMappingURL=custom.css.map */
