// FONT
$prim-font: "Muli", sans-serif;
$sec-font: 'Gloria Hallelujah', cursive;
$tir-font: 'Nunito Sans', sans-serif;


$base-font-size: 16px;
$text-font-size: .8rem;


// COLORS
$black: black;
$dark-grey: #262626;
$white: #fff;
$light-grey: #b6bfc8;

$secondary: #3399ff;


// BREAKPOINTS
$brk-small: 576px;
$brk-medium: 768px;
$brk-large: 992px;
$brk-xl: 1200px;


// SPACING
