
// header styles
.header {
  background-color: black;
  width: 100%;
  z-index: 25;
}

// Nav styles

.navbar{
  width: 90%;
  min-height: 70px;
  font-size: 1.2rem;
  margin:auto;
  background-color: black;
}

.navbar-nav{
  text-align: right;
}

.navbar-dark .navbar-nav .nav-link {
  transition: color .5s;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover
 {
  color: $secondary;
}

button:focus {
  outline: 3px auto $secondary;
}

// Name logo style

.name {
  font-size: 1.5rem;
}

#titlefirst {
  font-weight: 900;
  color: white;
}

#titlelast {
  font-weight: 350;
  color: $light-grey;
}
